html, body {
    margin: 0;
    height: 100%;
    background: #222222;
}

.date{
    color: #F5E7C6;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-family: monospace;
    font-size: clamp(1rem, 2.5vw, 3rem)
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.time{
    color: #FF6D1F;
    font-family: monospace;
    font-size: clamp(4rem, 12vw, 14rem);
    position: relative;
}

.b{
    width: 90px;
    height: 30px;
    border-radius: 10px;
    font-family: monospace;
    font-weight: bold;
    margin-bottom: 20px; 
    font-size: larger;
}

.b:hover{
    border: 3px solid #F5E7C6;
}

.ampm{
    color: #F5E7C6;
    position: absolute;
    right: -4vw;
    top: 50%;
    transform: translateY(-50%);
    font-size: clamp(1rem, 2.5vw, 3rem)
}

.bg{
    position: absolute;
    top: 20px;
    right: 20px;
}

.bg button, .full button{
    border-radius: 100px;
    width: clamp(40px, 10vw, 60px);
    height: clamp(40px, 10vw, 60px);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}


.full{
    position: absolute;
    top: 80px;
    right: 20px;
}


.full img{
    width: clamp(20px, 6vw, 30px);
    height: clamp(20px, 6vw, 30px);
}

.img{
    width: clamp(30px, 9vw, 45px);
    height: clamp(30px, 9vw, 45px);
}